.header {
  display: flex;
  align-items: center;
  background: #2196f3;
  margin: 0;
  height: 64px;
  padding: 0 62px;

  li {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    height: 100%;

    a {
      color: rgba(255, 255, 255, 0.7);
    }

    cursor: pointer;
    padding: 23px 15px;
  }

  .selected {
    background: #1e88e5;

    a {
      color: white;
    }
  }
}
